
@media only screen and (max-width: 1212px) {

    .sc3{
        width:35px;
        top:250px;
        right:0;
    }
    .sc4{
        width:35px;
        top:380px;
        right:0px;
    }
    .sc5{
        width:35px;
        top:685px;
        right:0px;
    }
}

@media only screen and (max-width: 995px) {

    .sc1{
        width: 60px;
        top:25px;
        right:-25px;
    }
    .sc2{
        width:30px;
        top:190px;
    }
    .sc3{
        width:30px;
        top:303px;
        right:0;
    }
    .sc4{
        width:30px;
        top:435px;
        right:0px;
    }
    .sc5{
        width:30px;
        top:740px;
        right:0px;
    }
}